.container {
  height: 100vh;
  position: relative;
  background-color: rgb(152, 194, 194);
}

.calculator {
  background-color: rgb(68, 97, 97);
  width: 400px;
  height: 550px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

input {
  width: 100%;
  padding: 10px;
  background-color: #000;
  color: #fff;
  font-size: 45px;
  text-align: right;
  
}

.calculator-keys {
  padding: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
}

.inner-grid {
  padding: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

button {
  padding: 20px;
  font-size: 25px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.number-flex {
  display: grid;
  grid-template-columns: auto auto;
  /* gap: 3px; */
}

.equal-sign {
  background-color: rgb(0, 132, 255);
  border: none;
  color: #fff;
  height: 92%;
  margin: 15px 17px 10px 10px;
}

.all-clear {
  background-color: red;
  border: none;
  color: #fff;
}